# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Keep example environment file
!.env.example

# Logs
*.log

# Build files
dist/
build/

# Vite
frontend/.vite/

# OS files
.DS_Store
Thumbs.db